body {
    font-family: sans-serif;
}

/* prevent vertical scroll bar glitch */
body {
    overflow: hidden;
    background-color: black;
}

.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-cell {
    width: 100%;
    height: 100vh;

    position: relative;
  opacity: 1;
}

.carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}