body {
    font-family: sans-serif;
}

/* prevent vertical scroll bar glitch */
body {
    overflow: hidden;
    background-color: black;
}

.carousel {
    width: 100%;
    height: 100vh;
}

.carousel-cell {
    width: 100%;
    height: 100%;
}

.carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

