body {
    overflow: hidden;
    background-color: black;
}

.carousel {
    width: 100%;
    height: 100vh;
}

.carousel-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
}

.carousel-cell:active img {
   transform: scale(1.03);
}

.carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform .4s ease-in-out;
}


